// ----------------------------------------------------------
// GLOBAL TOKENS
// Theme Soft Blue
// ----------------------------------------------------------

@layer theme {
  .theme {
  // --------------------------------------------------------
  // Colors (Branding Core)
  // --------------------------------------------------------

  // PALETTE
  --fs-color-main-0: #FFB6C1	;
  --fs-color-main-1: #FFC0CB;
  --fs-color-main-2: #9370DB;
  --fs-color-main-3: #8A2BE2;
  --fs-color-main-4: #4B0082;

  --fs-color-accent-0: #9400D3;
  --fs-color-accent-1: #9932CC;
  --fs-color-accent-2: #BA55D3;
  --fs-color-accent-3: #A020F0;
  --fs-color-accent-4: #8B008B;

  // HIERARCHY
  --fs-color-primary-bkg: var(--fs-color-main-4);
  --fs-color-primary-bkg-active: var(--fs-color-main-2);
  --fs-color-primary-bkg-light: var(--fs-color-main-0);
  --fs-color-primary-bkg-light-active: var(--fs-color-main-1);

  // SITUATIONS
  --fs-color-success-bkg: #cee8de;
  --fs-color-warning-bkg: #f6e0ba;

  // COMPONENTS & STATES
  --fs-color-body-bkg: #fbe8ee;
  --fs-color-text-display: var(--fs-color-main-4);
  --fs-alert-content-text-display: #FFF0F5;
  --fs-color-action-bkg: var(--fs-color-accent-3);
  --fs-color-action-bkg-hover: var(--fs-color-accent-2);
  --fs-color-action-bkg-active: var(--fs-color-accent-1);

  // --------------------------------------------------------
  // Typography (Branding Core)
  // --------------------------------------------------------

  // FACE
  --fs-text-face-body: 'Lato', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;

  // --------------------------------------------------------
  // Refinements
  // --------------------------------------------------------

  // BORDERS
  --fs-border-radius: 0.25rem;

  // SHADOW
  --fs-shadow: none;
  --fs-shadow-darker: 0 0 10px rgb(0 0 0 / 20%);
  --fs-shadow-hover: 0 1px 4px rgb(0 0 0 / 10%), 0 6px 8px rgb(0 0 0 / 10%);

  // --------------------------------------------------------
  // FS UI Components
  // --------------------------------------------------------
  // Add here the customizations for FastStore UI components.

  @import '@faststore/ui/src/components/molecules/Modal/styles.scss';
  @import '@faststore/ui/src/components/atoms/Button/styles.scss';


  .section {
    [data-fs-newsletter] {
      --fs-newsletter-main-text-color: #FFF0F5;
    }


  [data-fs-alert] {
    --fs-alert-text-color:#E6E6FA;
  }

  
  --fs-logo-width: 10rem;

    [data-fs-product-card] {
      --fs-product-card-border-color: transparent;
      --fs-product-card-border-color-hover: var(--fs-border-color-light);

      &[data-fs-product-card-bordered='true'] {
        --fs-product-card-border-color: var(--fs-border-color-light);
      }
    }
  }
}
}